h1 {
    font-weight: bold;
    width: 500px;
}

.table {
    position: relative;
    top: 15px;
}

input {
    background-color: lightskyblue;
    border-color: white;
    font-weight: bold;
    color: white;
}
.timkiemnv{
    background-color:black;
}
body{
    background-color: #F8EFFF;
}