h1 {
    font-weight: bold;
    position: relative;
    left: 36%;
    width: 500px;
}

.table {
    position: relative;
    top: 15px;
}
.conmem {
    background-color: #AFEEEE;
    border-color: white;
    font-weight: bold;
    border-radius: 5px;
}
.conmem:hover {
    background-color: #7FFFD4;
}
body {
    background-color: #F8EFFF;
}