@{
    ViewBag.Title = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />
<link href="~/css/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="bg">
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="#"><img src="~/img/logo.png" title="miami" /></a>
            </div>
            <div class="contact-order">
                <a href="#"></a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-----start-about---->
<div style="height:490px;line-height:35px;">
    <div>
        <h1 style="position:relative;left:400px;margin-bottom:40px;margin-top:30px;display:inline-block;">GIỚI THIỆU KHÁCH SẠN</h1>
    </div>
    <div>
        <img src="~/img/gioithieu.jpg" />
        <p style="position:relative; left:590px;top:-335px; font-size:17px;width:645px;display:inline-block;">
            MIAMI mang kiến trúc cổ điển Indochine nhằm khơi gợi lại những nét cổ xưa, nhưng <br /> cũng không quên tận dụng những vật liệu có sẵn tại địa phương, kết hợp cùng nét <br /> thiết kế hiện đại để đem được những cảm giác thoải mái nhất đến từng căn phòng.<br />
        </p>
        <p style="position:relative; left:590px;top:-335px; font-size:17px;width:645px;display:inline-block;">
            <span style="font-weight:700;">Đặc điểm nổi bật của MIAMI</span><br />
            1. MIAMI HOTEL là khách sạn nổi tiếng<br />
            2. 12 phòng khách sạn tiện nghi, sang trọng cùng tầng thượng với hồ bơi xanh mát<br />
            3. Có một quán Bar "thu nhỏ" trong MIAMI <br />
            4. Cam kết mang đến cho bạn những ngày nghỉ thoải mái, vui vẻ nhất<br />
            <span style="font-weight:700;">Phục vụ vì trải nghiệm của khách hàng là tiêu chí hàng đầu của chúng tôi!</span>
        </p>
    </div>
</div>
<!-----//End-about---->
<!----start-gallery---->
<div id="gal" class="gallery">
    <div class="container">
        <div class="head">
            <h3>TỔNG QUAN VỀ PHÒNG</h3>
        </div>
        <div class="gallery-grids">
            <div class="gallery-grids-row1">
                <div class="col-md-8 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/phong.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Phòng Đôi Thường</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 300000đ/đêm <br />Giường: 1m8 <br />Kích thước: 27m2</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/phong1.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Phòng Đôi Thường Có Ban Công</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 350000đ/đêm <br />Giường: Queen 1m8 <br />Kích thước: 31m2</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
                <p class="place">300000đ/đêm - 350000đ/đêm</p>
            </div>
            <div class="gallery-grids-row1">
                <div class="col-md-6 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/phong2.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Phòng Đôi Lớn</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 400000đ/đêm <br />Giường: 2m2 <br />Kích thước: 31m2</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/phong4.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Phòng Đôi Lớn Có Ban Công</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 450000/đêm <br />Giường: 2m2 <br />Kích thước: 31m2</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
                <p class="place">400000đ/đêm - 450000đ/đêm</p>
            </div>
        </div>
    </div>
</div>
<!-- dichvu -->
<div id="gal" class="gallery">
    <div class="container">
        <div class="head">
            <h3>DỊCH VỤ CỦA KHÁCH SẠN</h3>
        </div>
        <div class="gallery-grids">
            <div class="gallery-grids-row1">
                <div class="col-md-8 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/hoboi.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Hồ Bơi</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 100000đ</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/anuong.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Ăn Uống</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 120000đ</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
                <p class="place">Hồ bơi tầng thượng - Dịch vụ ăn uống</p>
            </div>
            <div class="gallery-grids-row1">
                <div class="col-md-6 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/dulich.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Du Lịch Quy Nhơn</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 250000đ</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 gallery-grid1">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="port-pic" src="~/img/bar.jpg" />
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <span> Bar - Pub</span>
                                <label> <i class="fa fa-heart"> </i> Giá: 150000đ</label>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
                <p class="place">Dịch vụ du lịch Quy Nhơn - Quán bar "thu nhỏ"</p>
            </div>
        </div>
    </div>
</div>